$color-white: #ffffff;
$color-black: #000000;
$color-mask: #222531;
$color-transparent: #000000;
$color-liner: linear-gradient(
  to bottom,
  #17171a 0%,
  #17171a 43.23%,
  #17171a 52.36%,
  #17171a 61.46%,
  #17171a 100%
);
$color-stroke-trans: #ffffff;
$color-glass: #17171a;

$primary-100: #2a2b2f;
$primary-200: #292b31;
$primary-300: #24262c;
$primary-400: #1c1d22;

$color-gray-1: #f3f5f7;
$color-gray-2: #e7ebef;
$color-gray-3: #dae0e7;
$color-gray-4: #ced6df;
$color-gray-5: #c1cbd7;
$color-gray-6: #b4c0cf;
$color-gray-7: #a8b6c7;
$color-gray-8: #9bacbf;
$color-gray-9: #8fa2b7;
$color-gray-10: #8398af;
$color-gray-11: #768ea7;
$color-gray-12: #6a84a0;
$color-gray-13: #5f7a95;
$color-gray-14: #587089;
$color-gray-15: #50657c;
$color-gray-16: #485b70;
$color-gray-17: #405064;
$color-gray-18: #384657;
$color-gray-19: #303c4b;
$color-gray-20: #28323e;
$color-gray-21: #202832;
$color-gray-22: #181e25;
$color-gray-23: #101419;
$color-gray-24: #080a0c;

$color-blue-1: #e2f0ff;
$color-blue-2: #c5dfff;
$color-blue-3: #a9cdff;
$color-blue-4: #93bdff;
$color-blue-5: #5f97ff;
$color-blue-6: #517ddb;
$color-blue-7: #385bb7;
$color-blue-8: #233e93;

$color-yellow-1: #fffacd;
$color-yellow-2: #fff39b;
$color-yellow-3: #ffeb69;
$color-yellow-4: #ffe243;
$color-yellow-5: #ffd505;
$color-yellow-6: #dbb303;
$color-yellow-7: #b79202;
$color-yellow-8: #937301;

$color-green-1: #eefde2;
$color-green-2: #d8fcc5;
$color-green-3: #bcf6a6;
$color-green-4: #a0ed8d;
$color-green-5: #76e268;
$color-green-6: #50c24c;
$color-green-7: #34a239;
$color-green-8: #21832d;

$color-red-1: #fdeded;
$color-red-2: #fbdadc;
$color-red-3: #f5a3a7;
$color-red-4: #ef6b72;
$color-red-5: #ea3943;
$color-red-6: #e8212b;
$color-red-7: #cb151e;
$color-red-8: #941016;

$color-turquoise-1: #dafee9;
$color-turquoise-2: #b5fddb;
$color-turquoise-3: #8ffad2;
$color-turquoise-4: #72f6d1;
$color-turquoise-5: #45f0d1;
$color-turquoise-6: #32cec0;
$color-turquoise-7: #22abac;
$color-turquoise-8: #167f8b;

$color-transparent-yellow: #ffd505;
$color-transparent-green: #76e268;
$color-transparent-blue: #5f97ff;
$color-transparent-red: #ea3943;
$color-transparent-turquoise: #45f0d1;

$color-pink-light-1: #f2d9ff;
$color-pink-light-2: #f0d2ff;
$color-pink-light-3: #eeccff;
$color-pink-light-5: #ecc5ff;
$color-pink-light-6: #d3ace6;
$color-pink-light-7: #bb99cc;
$color-pink-light-8: #a486b3;
$color-pink-light-9: #8c7399;
$color-pink-light-10: #756080;

$color-pink-strong-1: #ff5fb0e2;
$color-pink-strong-2: #ff42a1dd;
$color-pink-strong-3: #ff2291d9;
$color-pink-strong-5: #ff0080d5;
$color-pink-strong-6: #dd006fd9;
$color-pink-strong-7: #dd006fd9;
$color-pink-strong-8: #a00050e2;
$color-pink-strong-9: #840042e6;
$color-pink-strong-10: #6b0035ea;
