@import '../mixins';
@import '../vars';

.cards-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $gap;
}

.card {
  @include flex($direction: column, $align: center, $justify: flex-start);
  background: $primary-300;
  border-radius: $sm-input-radius;
  padding: 1em;
  width: 30ch;
}

.card--tile-bar {
  @include flex($align: center, $justify: space-between, $gap: 1em);
  font-size: $font-large;
  font-weight: $font-semi-bold;
  width: 100%;
}

.card--body {
  @include flex($align: center, $justify: space-between, $gap: 1em);
  width: 100%;
}

.card--body__price {
  color: $color-transparent-green;
}

@media (max-width: 720px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }
}
